.Button {
    display: flex;
    border: 3px solid;
    border-radius: 5px;
    color: rgb(0, 100, 100);
    padding: 13px 30px;
    background-color: blanchedalmond;
    flex-direction: row-reverse;
    margin: 10px;
}

.clicked {
    box-shadow: 15px 15px 25px grey;
    border: 1px solid grey;
    padding: 4px 9px;
}

.danger {
    background-color: "tomato";
}
